<nav class="nav nav-pills mb-3 bg-primary rounded p-2">
    <a class="nav-link text-white" routerLink="/iniciar-sesion" routerLinkActive="active">Iniciar sesión</a>
    <a class="nav-link text-white" routerLink="/prueba" routerLinkActiveOptions="{exact:true}" >Registro Consulta</a>
    <a class="nav-link text-white" routerLink="/tabla-consulta" routerLinkActive="active">Tabla Consulta</a>
</nav>

<style>
  .nav-pills .nav-link.active {
    background-color: #ffc107; /* amarillo para resaltar */
    color: #000 !important;
  }
  .nav-pills .nav-link:hover:not(.active) {
    background-color: #0d6efdcc; /* azul más claro al hover */
    color: white !important;
  }
</style>

<router-outlet></router-outlet>
