<nav class="nav nav-pills mb-3">
  <a class="nav-link" routerLink="/prueba" routerLinkActive="active">Registro Consulta</a>
  <a class="nav-link" routerLink="/tabla-consulta" routerLinkActive="active">Tabla Consulta</a>
</nav>

<style>
  .nav-pills .nav-link.active {
    background-color: #ffc107; /* amarillo para resaltar */
    color: #000 !important;
  }
  .nav-pills .nav-link:hover:not(.active) {
    background-color: #0d6efdcc; /* azul más claro al hover */
    color: white !important;
  }
</style>

<router-outlet></router-outlet>
